.metamask-button {
    display: flex;
    align-items: center;
    min-height: 2rem;
    margin: 0.5em;
    gap: 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #c02425 0%, #f0cb35 75%);
    transition: all 0.3s ease;
}

.metamask-button:hover {
    background-position: right center;
    font-weight: bolder;
}

.back-button {
    min-width: 85px;
    min-height: 2.5em;
    margin-block: 0.75em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
    transition: all 0.3s ease;
}

.back-button:hover {
    box-shadow: 0 3px #4433ff;
    top: 1px;
}

.back-button:active {
    box-shadow: 0 0 #4433ff;
    top: 5px;
}

.close-dialog-button {
    border: none;
    border-radius: 1em;
    background-color: #a6a6a6;
}

.onboard-button {
    margin-top: 2.5em;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background-color: rgba(36, 36, 211, 0.9);
    color: #cbdcbd;
    cursor: help;
    transition: box-shadow 0.45s, color 1.25s ease-out;
}
.onboard-button:hover {
    box-shadow: 0px -1px 3px 1px #908e92,
                0px 1px 3px 1px #8b01db;
    color: #fff;
}